# ==============================
# Database (Neon / Postgres)
# ==============================
# Pooler (produção)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&pgbouncer=true"

# Conexão direta (prisma migrate/dev)
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
